@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  font-family: 'Fira Sans', sans-serif;
}

#logo {
  width: 500px;
}

@media (max-width: 640px) {
  #logo {
    max-width: 90%;
    margin: auto;
  }
}

#hero-shape {
  top: -780px; 
  right: 110%;
}

@media (max-width: 640px) {
  #hero-shape {
    /* right: 50%; */
    top: -830px; 
  }
}

#dancer {
  min-width: 600px;
  max-width: 650px;
  height: auto;
}

/* 
'sm': '640px',
// => @media (min-width: 640px) { ... }

'md': '768px',
// => @media (min-width: 768px) { ... }

'lg': '1024px',
// => @media (min-width: 1024px) { ... }

'xl': '1280px',
// => @media (min-width: 1280px) { ... } */